body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align:left;
    color: brown;
    font-size: medium;
  }  

  div {
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
  }